

.homeBtn{
    background-color: orange;
    border-color: green;
    top:0;
    left:0;
}
.homeBtn:hover{
    background-color: rgb(255, 238, 0);
}

input[type=submit]{
    width:200px;
    height:150px;
}

.SpaceWarsBtn{
    background: url(SpaceWars/SpaceWars.png);
    padding: auto;
    background-size: 200px;
    border: 2px solid white;
}
.JumpOverGroundBtn{
    background: url(JumpOverTheGround/JumpOverTheGround.png);
    padding: auto;
    background-size: 200px;
    border: 2px solid white;
}
.RedManBlueManBtn{
    background: url(RedManBlueMan/RedManBlueMan.png);
    padding: auto;
    background-size: 200px;
    border: 2px solid white;
}
.CatchTheCarrotBtn{
    background: url(CatchTheCarrot/CatchTheCarrot.png);
    padding: auto;
    background-size: 200px;
    border: 2px solid white;
}
.FourPlayerCarRacingBtn{
    background: url(FourPlayerCarRacing/FourPlayerCarRacing.png);
    padding: auto;
    background-size: 200px;
    border: 2px solid white;
}
.FeetballBtn{
    background: url(Feetball/Feetballll.png);
    padding: auto;
    background-size: 200px;
    border: 2px solid white;
}
.Shooting2PlayerBtn{
    background: url(GameShooting2Player/2PlayerShooting.png);
    padding: auto;
    background-size: 200px;
    border: 2px solid white;
}
.KillTheBirdBtn{
    background: url(KillTheBird/KillTheBird.png);
    padding: auto;
    background-size: 200px;
    border: 2px solid white;
}
.EatTheWatermelon{
    background: url(EatTheWatermelon/EatTheWaterMelon.png);
    padding: auto;
    background-size: 200px;
    border: 2px solid white;
}
.TwoPlayerPong{
    background: url(TwoPlayerPong/TwoPlayerPong.png);
    padding: auto;
    background-size: 200px;
    border: 2px solid white;
}
.TopDownShooting{
    background: url(TopDownShooter/TopDownShooter.png);
    padding: auto;
    background-size: 200px;
    border: 2px solid white;
}
.SNTopDownCarRacer{
    background: url(SNTopDownCarRacer/Logo\ –\ 1.png);
    padding: auto;
    background-size: 200px;
    border: 2px solid white;
}
.SpaceWarsBtn:hover[type=submit], .JumpOverGroundBtn:hover[type=submit], .RedManBlueManBtn:hover[type=submit], .CatchTheCarrotBtn:hover[type=submit],
.FourPlayerCarRacingBtn:hover[type=submit], .FeetballBtn:hover[type=submit], .Shooting2PlayerBtn:hover[type=submit], .KillTheBirdBtn:hover[type=submit],
.TwoPlayerPong:hover[type=submit], .TopDownShooting:hover[type=submit], .EatTheWatermelon:hover[type=submit], .SNTopDownCarRacer:hover[type=submit]{
    background-blend-mode: screen;
    background-color: gray;
}

.Heading{
    font-size: xx-large;
}

p{
    color: white;
    font-family: sans-serif;
}
body{
    background-color: black;
}